.loader {
  width: 30px;
  height: 30px;
  display: block;
  padding: 0px;
  border-radius: 100%;
  border: 5px solid;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-top-color: #6c757d;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-left-color: #6c757d;
  border-right-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: loader 1s ease-in-out infinite;
  animation: loader 1s ease-in-out infinite;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
